<!DOCTYPE html>
<html>
    <div class="container" >
    <head>
  <title>404</title>
  <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
         <h3 style="color: red;">  {{errorMessage}} </h3>
         </div>
        {{>footer}}
    </body>
    </div>
</html>