<!DOCTYPE html>
<html>
    <div class="container" >
    <head>
  <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
          {{>header}}

        <img style="width:400px" src="http://www.ohadmatalon.com/wp-content/gallery/Echo/7%20Tree%20top%20-%20Outdoor%20installation%20n.12%20Tel%20Aviv,%202006.jpg" alt="">
    </div>
    {{>footer}}
    </body>
    </div>
</html>