<!DOCTYPE html>
<html>
    <div class="container" >
    <head>
  <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div >
          {{>header}}

        <img class="portrait" src="https://firebasestorage.googleapis.com/v0/b/israeli-art-and-cinema-archive.appspot.com/o/DSC02243c2.jpg?alt=media&token=b0df17b4-28bc-4855-8a40-d5e19e5c6fe7" alt="">
        <p>

          Fine Art Photographer & Photography Lecturer, who left the Academy after 17 years, 
          to become a web-developr and combine the love for art and photography, 
          with what seems to be the Front line of any visual experience of our time.
          Ready for any challenges across the areas of web-developing, design, photography and fine art.

        </p>
    </div>
    {{>footer}}
    </body>
    </div>
</html>