<!DOCTYPE html>
<html>
    <div class="container" >
    <head>
<title>Help</title>
<link rel = "icon" type = "image/png"  href="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Weather-icon.png">
  <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h2 style="color:gray;font-weight:400">{{help}}</h2>
        </div>
        {{>footer}}
    </body>
    </div>
</html>