<!DOCTYPE html>
<html>
    <div class="container" >
    <head>
 <title>Weather</title>
 <link rel = "icon" type = "image/png"  href="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Weather-icon.png">
   <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-conten">
          {{>header}}   
              <h6 class="forecast" style="color:red !important">{{error}}</h6>
</div>
     <div>
              <h6 class="forecast">{{location}}</h6>
              <h6 class="forecast">{{forcast}}</h6>
         
          </div>
         {{>footer}}
    </body>
    </div>
</html>