<div class="head-title">
    <span class="title"> THE </span> <span class="title">  WEATHER</span> <span class="title"> APPLICATION</span>
</div>

<div class="navbar">
    <a href="/" >Weather</a>
    <a href="/about" >About</a>
    <a href="/help"  >Help</a>
</div>

<h2 style="color:rgb(68, 70, 82); font-weight:400 !important;">{{title}}</h2>